@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #282828;
  color: #fff;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.phone {
  position: relative;
  overflow: hidden;
  background-color: rgb(20, 20, 20);
  border: 3px solid #eee;
  border-radius: 0.5rem;
  height: 40rem;
  width: 20rem;
}

.phone::before {
  content: "6:30pm III NTC";
  height: 0.8rem;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
  font-size: 0.65rem;
  padding-left: 0.2rem;
  padding-bottom: 0.2rem;
  text-align: start;
}
.phone::after {
  content: "IIII  94%";
  /* word-spacing: -1.5px; */
  height: 0.8rem;
  width: 100%;
  right: calc(-90%);
  position: absolute;
  top: 0;
  background-color: transparent;
  z-index: 101;
  font-size: 0.65rem;
  padding-bottom: 0.2rem;
  padding-right: 0.6rem;
  text-align: start;
}

.phone .content {
  opacity: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 3rem);
  width: 100%;
  transition: opacity 0.4s ease;
}

.phone .content.show {
  opacity: 1;
}

nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  padding: 0.3rem 0.4rem;
  background-color: rgb(218, 218, 218);
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  text-align: center;
}

nav li {
  color: #444;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
li p,
i {
  margin: 0;
  font-size: 0.8rem;
}

nav li:hover,
nav li.active {
  color: #1f0d27;
  font-weight: 600;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 410px) {
  .phone {
    height: 100vh;
    width: 100vw;
  }
  .phone::after {
    right: calc(-93%);
    padding-right: 0.75rem;
  }
}
